body {
  background-image: url('flag.jpg');
  background-color: black;
  background-attachment: fixed;
  background-position: center;
}

.sign-form-container {
  background-color: white;
}

.sign-form-container .nav-pills li {
  background-color: red;
  cursor: pointer;
  margin-left: 0;
  width: 50%;
}

.sign-form-container .nav-pills > li > a {
  border-radius: 0;
  color: white;
  outline: 0;
}

.sign-form-container .nav-pills li.active > a,
.sign-form-container .nav-pills li.active > a:hover {
  background-color: white !important;
  color: green !important;
}

.sign-form-container .nav-pills li > a:hover {
  background-color: red !important;
  color: white !important;
}

.sign-form-container .tab-content {
  margin-top: 20px;
}

.sign-form-container .tab-content button {
  margin-bottom: 20px;
}

.welcome .navbar-default {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
  color: white !important;
}

.welcome a.navbar-brand {
  color: white !important;
}

.welcome .btn-white {
  color: #ffffff;
  background-color: #ED2839;
}

.welcome .btn-white:hover,
.welcome .btn-white:focus,
.welcome .btn-white:active,
.welcome .btn-white.active,
.welcome .open .dropdown-toggle.btn-white {
  color: #3EBBF5;
  background-color: #FFFFFF;
}

.welcome .term {
  color: white;
  font-family: Comic Sans MS;
}
.welcome .term h1 {
  font-size: 52px !important;
}

.welcome .birthday {
  margin-bottom: 5px;
}
