<div class='welcome'>
  <nav class='navbar navbar-default'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='#/'>LOGO</a>
      </div>
    </div>
  </nav>

  <div app-view-segment='1'></div>

  <nav class='navbar navbar-inverse navbar-fixed-bottom'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-2' aria-expanded='false'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
      </div>

      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-2'>
        <ul class='nav navbar-nav navbar-left'>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#create-advert">CREATE ADVERT</a></li>
          <li><a href="#create-page">CREATE PAGE</a></li>
          <li><a href="#careers">CAREERS</a></li>
          <li><a href="#developers">DEVELOPERS</a></li>
          <li><a href="#jobs">JOBS</a></li>
          <li><a href="#education">EDUCATION</a></li>
          <li><a href="#freelance">FREELANCE</a></li>
          <li><a href="#privacy">PRIVACY</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
